# all 
.vscode/
*.txt
*.json
*.pyc

# Tv shows dirc for now  / others
Tvshows/
__pycache__/
#Project/Models/serialize.py


# js /css
Project/Movies/static/css/spinner_css.css
Project/Movies/static/js/spinner.js
Project/Movies/static/js/category.js
Project/Movies/static/js/get_by_genre.js


# templates 
Project/Movies/templates/movies/junk.html
Project/Movies/templates/movies/trending_mv.html
Project/Movies/templates/movies/testme.html