.vscode/
*.json
*.txt

# Tv shows dirc for now  / others
TvShows/
main

# js 
main/static/js/spinner.js
main/static/js/category.js

# templates 
Project/Movies/templates/movies/junk.html
Project/Movies/templates/movies/trending_mv.html