{% extends "base.html" %}

{% block trending %}
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <!-- getting posters imgs -->
                <img src="https://image.tmdb.org/t/p/original{{ trend_img }}"
                    alt="Trending Movies">

                <!-- rating starts  -->

                <div class="carousel-caption">
                    <div class="rating">
                        <h1> 8.5 </h1>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <h5 class="text-white">OCTOBER 2018</h5>
                    <div class="container">
                        <h2 class="py-4 px-4"> Mission Impossible
                            (2018) : Fall out </h2>
                        <h3 class="text-gray-600">This is a discription of this movie and will be brought from imdb api
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum assumenda, doloribus culpa
                            totam molestiae cumque reprehenderit rem vitae dicta voluptatem quae minus dolores mollitia.
                            Eveniet fuga corrupti cupiditate consectetur recusandae?
                        </h3>
                    </div>
                    <button class="my-4 bg-red-500 hover:bg-black
                    text-white font-bold py-2 px-10 rounded-full"><i class=" ml-3 far fa-play-circle">watch Trailer</i>
                    </button>
                    </button>
                    <div class="pause">
                        <button class="text-xl">
                            <i class="fas fa-pause pr-3 -mr-10"></i>
                        </button>
                    </div>
                </div>
            </div>  

        </div>
    </div>
{% endblock trending %}

