/*  starting by setting ;root variables to use later    */

/* Google font  import  */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

:root {
    --search : #9d8f8f;
    --main_nav : #1A1818;
}
nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav .navbar {
    padding-top: 3rem;
    
}
h5,h2,h3 {
    color: black;
}

/* carousel styling */
.container img {
    margin-right: 4rem;
}
.carousel-inner img {
    height: 100%;
    width: 100%;
}
.carousel-item img {
    background: no-repeat center center scroll;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}
.carousel-caption  {
    color: white;
    right: 100%;
    max-width: 700px;
    max-height: 600px;
    text-align: center;
    left: auto;
    /*top: auto;*/
    top: 63%;
    transform: translateY(-50%);
    bottom: initial;
}
.carousel-caption h5 {
    font-size: 24px;
    color: rgb(238, 229, 229);
}
.carousel-caption h2 {
    font-weight: bold;
    font-size: 48px;
    color: snow;
    font-family: "Roboto";
}

.carousel-caption h3 {
    font-size: 24px;
    color: lightcyan;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
#navbarSupportedContent{
    color: lightcyan;
}
#navbarSupportedContent:hover{
    color: lightseagreen;
}
#navbarSupportedContent .active {
    border-bottom: 3px solid #EB5757;
}
.play-movie {
    position: relative; 
    color: snow;
    float: right;
    top: 0%;
    left: 120%;
    font-size :xx-large;
}
.play-movie:hover {
    color: brown;
    border-radius: 5%;
}
.rating{
    position: relative;
    left: 120%;
    color: white;
    float: right;
    font-size: x-large;
    font-family: "Roboto";
    font-weight: bold;
}

/* Movie card */
#movie-card {
    background-color: #110B0B;
}
#movie-card h2 {
    color: white;
    font-size: 20px;
    font-family: "Roboto";
    font-weight: bold;
    text-decoration: underline solid #EB5757;
}
#movie-card input {
    margin-top: 2rem;
}

.grid i { 
    display: table-cell;
    padding-bottom: 20%;
    font-weight: normal;
    font-size: small;
}
.grid .text-lg {
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 14px;
}
.wrapper {
    text-align: center;
}


#loadmore {
    vertical-align: middle;
}
/*  Search bar */
.search {
    width: 100%; 
    margin-bottom: 10px; 
}
.search i {
    position: absolute; 
}
.fa-search {
    padding-top: 45px; 
    color:#EB5757;
    min-width: 50px; 
    text-align: center; 
} 
.search input {
    padding: 5px; 
    text-align: center; 
}

/* Footer */

