<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "movies/head.html" %}
  </head>

  <body>
    <!-- extending Trending view -->
    <section id="home">
      {% block trending %} {% endblock trending %}
    </section>

    <!--extend popular_view  -->
    <section id="movie-card">
      {% block popular %} {% endblock popular %}
    </section>

    <!--Load your extarnal js scripts first to prevent 
    errors  -->
    <!--  jquery/ajax cdn -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script
      src="https://code.jquery.com/jquery-3.5.0.min.js"
      integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/home_switch_view.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/search_results.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/scrolling.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/carousel_slides.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/accurate_detail_view.js') }}"
    ></script>
    <!-- 
    <script
      type="text/javascript"
      src="{{ url_for('static', filename = 'js/tv_switch_episodes.js') }}"
    ></script> -->
  </body>
</html>
