<!-- Essentiels -->

<title>
  {% block title %} {% endblock title %}
</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Loading all files that changes often (.css/.js) 
    to avoid hard refresh-->

<!-- Css file import -->
<link
  rel="stylesheet"
  href="{{ url_for('static', filename = 'css/style.css')}}"
/>

<!-- spinner css 
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/spinner_css.css')}}">
-->

<!--  jquery/ajax cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script
  src="https://code.jquery.com/jquery-3.5.0.min.js"
  integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
  crossorigin="anonymous"
></script>

<!-- bootstrap cdn  -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>

<!-- Fonts icons -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<!-- Tailwind css  -->
<link
  href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
  rel="stylesheet"
/>
