{% extends "movies/base_view.html" %}

{% block popular %}
<div class="text-center pt-3">
  <h2 class="uppercases">Other Movies - sort by category or search by name</h2>
</div>

<div class="relative text-center">
  <div class="search">

    <form action="/fetch" method="POST">
      <i class="fa fa-search pl-20" aria-hidden="true"></i>
      <input type="text" 
      id="key_search"
       value="{{ request.form['key_search'] }}" name="key_search"
        class="bg-white rounded-full w-64 focus:outline-none  
        focus:shadow-outline" 
        placeholder="search">
        <img class="m-auto" id="loading" />
        
    </form>

    <div id="search_output" class="bg-grey-100 rounded w-64 m-auto">
      <!--  data coming from ajax after 5s from typing -->
    </div>

  </div>
</div>

<!-- getting dynamique category from the api   -->
<!--TODO:  Darken  the edge to indicact mouse scroll  -->
<div class="left mt-6">

</div>
<div class="center pb-16 gap-6 mt-6" id="content">
  {% for category in categories.genres %}
  <div class="internal">
    <a href="{{ url_for('moviesio.get_by_category', genre_id=category.id, genre_name=category.name ) }}">
      <button type="button" id="genre_{{ category.id }}" class="bg-red-500 text-white hover:bg-black text-gray-800 font-bold py-2 px-4 rounded-full genre_button
            " value="{{ category.name }}">
        {{ category['name'] }}
      </button>
    </a>
  </div>
  {% endfor %}
</div>
<div class="right mt-6">
</div>

<!-- Cards rendering -->
<div class="container mt-24 pt-24 mx-auto px-2 my-3">
  <div id="cards_switching" class="grid grid-cols-4 gap-16 mb-4">
    <!--  Switch to TV | Movie on post  -->
    <!-- This whole div will be overrided and replaced -->
    {% if genre_clicked %}
    {% for by_genre in genre_results.results %}

    <div class="mt-4">
      <i class="fas fa-star text-black"></i>
      <i class="fas fa-star text-black"></i>
      <i class="fas fa-star text-black"></i>

        <a href="{{ url_for('moviesio.movie_detail', movie_id=by_genre['id'] )}}">
          <img src="https://image.tmdb.org/t/p/original{{by_genre['poster_path'] }}" alt="movie">
        </a>

        <div class="mt-2">
          <h3 href="#" class="m_link text-lg mt-2 ">
            <!~~getting titles ~~>
              {{by_genre['title']}}
          </h3>
          <div class="flex items-center text-gray-700">
            <span> {{by_genre['release_date']}} </span>
            <span> || </span>
            <span>
              <!~~ //FIXME: need to loop throug list of names[genres] not ids ~~>

            </span>
          </div>
        </div>
    </div>
    {% endfor %}

    {% else %}
    {% for popular in populars.results %}
    <div class="mt-4">
      <i class="fas fa-star text-black"></i>
      <i class="fas fa-star text-black"></i>
      <i class="fas fa-star text-black"></i>

      <!-- ajax will handle which detail page to display  
      since we have two two choice (tv|movie) with diffrent template
        -->
      <a>
        <img src="https://image.tmdb.org/t/p/original{{popular['poster_path'] }}" 
        id="{{ popular['id'] }}"
        onclick="getID(this.id)">
      </a>

      <div class="mt-2">
        <h3 href="#" class="m_link text-lg mt-2 ">
          <!--getting titles -->
          {{popular['title']}}
        </h3>
        <div class="flex items-center text-gray-700">
          <span> {{popular['release_date']}} </span>
          <span> || </span>
          <span>
            <!-- //FIXME: need to loop throug list of names[genres] not ids -->
            {% for pop_gnr in categories['genres'] %}
            {% if  pop_gnr['id'] in popular['genre_ids'] %}
            {{  pop_gnr['name'] }}
            {% endif %}
            {% endfor %}
          </span>
        </div>
      </div>


    </div>
    {% endfor %}
    {% endif %}
  </div>

</div>

<!--  <!~~ Load More button  ~~> 
        <div class="wrapper">
          <button class="bg-red-500 text-white mt-5 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-full">
            Load More
            <hr>
          </button> 
        </div> -->
</div>
{% endblock popular %}