<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tv shows view</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Tailwind css  -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/tv_styling.css') }}" />




</head>

<body>
    <div id="navcontent" class="container-fluid">
        <div class="topcontent">
            <i class="fa fa-home pt-3"></i>

            <div class="indexes">
                <ul class="flex-container">
                    <li class="flex-item">Seasons</li>
                    <li class="flex-item">Similar tv shows</li>
                    <li class="flex-item">Trailer and Teasers</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Custome page  -->

    <div class="relative container-fluid mt-8">
        <!-- TODO : darkining/ blure img  -->

        <div class="overlay">
            <img class="d-block w-100" src="https://image.tmdb.org/t/p/original{{ tvdetail.backdrop_path }}" alt="" />
        </div>

        <!-- page captions  -->
        <div id="customedata" class=" absolute carousel-caption mx-3">
            <div id="Switch_tv" class="container-fluid tvdata my-8">

                <!-- switch poster_path once id is called -->
                <div id="poster_switch" class="divL mx-16">

                    <!-- check if poster == null -->
                    <!--TODO: Migrate check to js    -->
                    {% for check in tvdetail.seasons %}
                    {% if check['poster_path'] is none %}
                    <img src="{{ url_for ('static',
                     filename = 'images/card_img.jpg') }}" alt="">
                    {% endif %}
                    {% endfor %}
                </div>


                <div class="divR">
                    <div class="tvdes pl-4">
                        <h2 id="tvname" class="py-3">{{ tvdetail['name'] }}</h2>
                        <h2 id="out_date" class="">2015</h2>

                        <p class="py-4">
                            <mute id="episodes">Episods : get_count</mute>
                            <span class="px-4"> || </span>
                            <span id="genres">
                                {% for eachg in tvdetail['genres'] %}
                                {% if eachg %}
                                -
                                {{ eachg.name }}
                                {% endif %}
                                {% endfor %}
                            </span>
                        <p class="pb-5">
                            <i class="fa fa-star pr-3"></i>
                            {{tvdetail['vote_average']}}
                        </p>
                        <mute id="overview" class="py-3"> overview :
                            {{ tvdetail['overview'] }}
                        </mute>
                        </p>

                        <div class="switches">
                            <a class="navbar-brand abs seasons">
                                <button class="btn">
                                    Season
                                    <!-- getting seasons -->
                                    <select class="changeValue">
                                        {% for tvdt in tvdetail.seasons %}
                                        <option id="{{ tvdt['season_number'] }}" class="ses_option pl-4"
                                            value="{{ tvdt['name']  }}">
                                            {{ tvdt['season_number']}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </button>
                            </a>
                            <a class="navbar-brand abs watch">
                                <button id="tv_trailer" class="btn">
                                    <!-- change value based on select option  -->
                                </button>
                            </a>
                        </div>
                        <!-- two buttons aligned -->
                    </div>
                </div>
            </div>

            <!-- TODO: Delete -- Recommended tv section -->
<!-- 
            <div id="recommended" class="relative container mx-24 pt-auto mt-20">
                <div class="py-4">
                    <h2>Recommended base on this show</h2>
                </div><br>

                <div id="recommendedlist" class="container-fluid">
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>

                </div>

            </div> -->

        </div>
    </div>

    <div class="container my-16 sections_card">
        <div class="sections_nav py-4">
            <h2> Season  </h2>
            <p> ALL Episods </p>
            <div class="scrollto">
                
            </div>
        </div>

        <!-- episodes card -->
        <div id="epis_cards" class="container-fluid gap-6 my-4  ">
            <div id="getepis" class="row flex-nowrap">
                <!-- on post render corresponding all episodes -->
            </div>

        </div>

        <!-- TODO: Similar tv shows secrion  -->
        <div class="sections_nav py-4">
            <h2> Similar Shows for tv_name </h2>
            <p> </p>
            <div class="scrollto">
               
            </div>
        </div>
        <div id="sim_cards" class="container-fluid gap-6 my-4 ">

            <div id="getsimilar" class="row flex-nowrap">
            </div>

        </div>


        <!-- Trailers  / Teasears  -->
        <div class="sections_nav py-8">
            <h2> Trailers and Teasers </h2>
            <p> get Count Here </p>
            <div class="scrollto">
               
            </div>
        </div>

        <div id="trailers" class="container-fluid gap-6 my-4 ">
            <div id="getTeas" class="row flex-nowrap">

            </div>
        </div>




    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/scrolling.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/tv_switch_episodes.js') }}"></script>


</body>

</html>