<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tv shows view</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Tailwind css  -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/tv_styling.css') }}" />




</head>

<body>
    <div id="navcontent" class="container-fluid">
        <div class="topcontent">
            <i class="fa fa-home pt-3"></i>

            <div class="indexes">
                <ul class="flex-container">
                    <li class="flex-item">Seasons</li>
                    <li class="flex-item">Similar tv shows</li>
                    <li class="flex-item">Trailer and Teasers</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Custome page  -->

    <div class="relative container-fluid mt-8">
        <!-- TODO : darkining/ blure img  -->

        <div class="overlay">
            <img class="d-block w-100" src="https://image.tmdb.org/t/p/original{{ tvonload.backdrop_path }}" alt="" />
        </div>

        <!-- page captions  -->
        <div id="customedata" class=" absolute carousel-caption mx-3">
            <div id="Switch_tv" class="container-fluid tvdata my-8">

                <!-- switch poster_path once id is called -->
                <div id="poster_switch" class="divL mx-16">

                    <!-- check if poster == null -->
                    <!--TODO: Migrate check to js    -->
                    <img src="https://image.tmdb.org/t/p/original{{ tvonload['poster_path'] }}" alt="">
                </div>


                <div class="divR">
                    <div class="tvdes pl-4">
                        <h2 id="tvname" class="py-3">{{ tvonload['name'] }}</h2>
                        <h2 id="out_date" class="">2015</h2>

                        <p class="py-4">
                            <mute id="episodes">Episods : {{ tvonload['number_of_episodes'] }}</mute>
                            <span class="px-4"> || </span>
                            <span id="genres">
                                {% for eachg in tvonload['genres'] %}
                                {% if eachg %}
                                -
                                {{ eachg.name }}
                                {% endif %}
                                {% endfor %}
                            </span>
                        <p class="pb-5">
                            <i class="fa fa-star pr-3"></i>
                            {{tvonload['vote_average']}}
                        </p>
                        <mute id="overview" class="py-3"> overview :
                            {{ tvonload['overview'] }}
                        </mute>
                        </p>

                        <div class="switches">
                            <a class="navbar-brand abs seasons">
                                <button class="btn">
                                    Season
                                    <!-- getting seasons -->
                                    <select class="changeValue">
                                        {% for tvdt in tvonload.seasons %}
                                        <option id="{{ tvdt['season_number']}}" class="ses_option pl-4"
                                            value="{{ tvdt['name']  }}">
                                            {{ tvdt['season_number'] }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </button>
                            </a>
                            <a class="navbar-brand abs watch">
                                <button id="tv_trailer" class="btn ">
                                    <!-- change value based on select option  -->

                                </button>
                            </a>
                        </div>
                        <!-- two buttons aligned -->
                    </div>
                </div>
            </div>

            <!-- TODO: Delete -- Recommended tv section -->
            <!-- 
            <div id="recommended" class="relative container mx-24 pt-auto mt-20">
                <div class="py-4">
                    <h2>Recommended base on this show</h2>
                </div><br>

                <div id="recommendedlist" class="container-fluid">
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>
                    <div>
                        <img src="{{ url_for ('static', filename = 'images/tv.jpg') }}" alt="">
                    </div>

                </div>

            </div> -->

        </div>
    </div>

    <!-- TODO: Override(empty div on post) -->
    <div class="container my-16 sections_card">
        <div class="sections_nav py-4">
            <h2> Season : </h2>
            <p> ALL Episods </p>
            <div class="scrollto">

            </div>
        </div>

        <!-- episodes card -->
        <div id="epis_cards" class="container-fluid gap-6 my-4  ">
            <div id="getepis" class="row flex-nowrap ">
                <!-- on post render episodes for the season selected -->
                {% for epis in tvplus.episodes  %}
                <div class="col-3">
                    <div id="posterepis" class="card card-block">
                        <img src="https://image.tmdb.org/t/p/original{{ epis['still_path'] }}" alt="">
                        <div class="seasoninfo mt8">
                            <p class="overviews">{{ epis['overview']}}</p>
                            <h3> Episode{{ epis['episode_number']}} </h3>
                            <span><i class="fa fa-star pr-3 my-12"></i>{{ epis['vote_average']}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>


        <div class="sections_nav py-4">
            <h2> Similar Shows based on your selection </h2>
            <p> </p>
            <div class="scrollto">

            </div>
        </div>
        <div id="sim_cards" class="container-fluid gap-6 my-4 ">
            <div id="getsimilar" class="row flex-nowrap">
                {% for similar in tvonload.similar.results %}
                <div class="col-3">
                    <div id="postersim" class="card card-block">
                        <div id="similartv">
                            <img src="https://image.tmdb.org/t/p/original{{ similar['poster_path'] }}" alt="">
                            <div class="centered text-white">
                                <h2> Title Name tttt </h2>
                                <h3> Get Seasons </h3>
                                <p> Get Rating </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>


        <!-- Trailers  / Teasears  -->
        <div class="sections_nav py-8">
            <h2> Trailers and Teasers </h2>
            <p> </p>
            <div class="scrollto">

            </div>
        </div>

        <div id="trailers" class="container-fluid gap-6 my-4 ">
            <div id="getTeas" class="row flex-nowrap">
                {% for teas in tvonload.videos.results %}
                <div class="col-4">
                    <div id="teas_trail" class="card card-block">
                        <div class="relative">
                            <iframe width="100%" height="150%" src="https://www.youtube.com/embed/{{ teas['key'] }}">
                            </iframe>
                        </div>
                        <!-- <div class="teaserinfo flex justify-between">
                            <div>
                                <h2> {{ teas['name'] }}<br>
                                </h2>
                            </div>
                            <span> {{ teas['type'] }} </span> 
                        </div> -->
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>




    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/scrolling.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'js/tv_switch_episodes.js') }}"></script>


</body>

</html>