/*  starting by setting ;root variables to use later    */

/* Google font  import  */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap");

:root {
  --text: #110b0b;
  --main: rgb(250, 248, 248);
  --line: #eb5757;
}
body,
html {
  background-color: var(--main);
}
hr {
  color: var(--line);
}

/* ------------------------------------------ 
      Index page styling   / Front page  */
.overlay:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
/* navbar  */
@media (min-width: 768px) {
  .navbar-brand.abs {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
  }
}
nav {
  height: 83px;
}

.navbar-brand.abs button {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;

  /* Gray 6 */

  color: #f2f2f2;
}
.navbar-brand.abs #tv {
  background-color: var(--line);
}
/* carousel page */

.indicator {
  cursor: pointer;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.indicator:hover {
  background-color: #717171;
}

/* poster image  */
#poster {
  filter: brightness(50%) blur(1px);
  -webkit-filter: blur(1.5px);
}

/* container-fluid overrided */
.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
  /* background-color: green; */
  margin-bottom: 20%;
  height: 503px;
}
/* overrided the default settings */
.carousel-caption {
  right: 0;
  left: 0;
}

/* caption styling  */
#leftitems {
  /* background-color: royalblue; */
  width: 750px;
  height: 480px;
  float: left;
  margin-left: 1%;
}

#rightitems {
  /* background-color: palevioletred; */
  width: 528px;
  height: 480px;
  float: right;
  margin-right: 1%;
}
.contentleft {
  float: left;
}
.apidate {
  margin-top: 3%;
}

.apititle {
  float: left;
}
.apidate mute {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #f8f7f7;
}

#wrapper {
  float: left;
}
.apititle {
  margin-top: 55px;
  /* background: rebeccapurple; */
}
.apititle h2 {
  margin: 0 auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.1em;
  color: #efebeb;
}

.apidescription p {
  font-family: Abel;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  /* dark/60 */
  color: #ffffff;
}
.apitrailer {
  margin: auto;
  background: rgba(254, 254, 254, 0.1);
  border-radius: 30px;
}
.apitrailer i {
  padding-right: 5%;
}
.apitrailer button {
  bottom: 0px;
  width: 313px;
  height: 67px;
  /* background: rgba(254, 254, 254, 0.2); */
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 42px;

  color: #a01581;
}

/* Rating */
.contentright {
  margin: auto;
}
.contentright .rate {
  /* background: saddlebrown; */
  margin-bottom: 350%;
  color: black;
}
.contentright .rate p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* dark/60 */
}

.apiinfo {
  margin-bottom: 40%;
}
.contentright .apiinfo i {
  font-size: xx-large;
  color: black;
}

/* Genre category scroll  */
.left {
  float: left;
  width: 30%;
  height: 15px;
}

.internal {
  width: 31.75%;
  height: 100%;
  display: inline-block;
}

.center {
  float: left;
  width: 38.9%;
  height: 40px;

  margin: 1px;
  overflow: hidden;
  /*will change this to hidden later to deny scolling to user*/
  white-space: nowrap;
}

.right {
  float: right;
  width: 30%;
  height: 15px;
}
#arrowright {
  padding-left: 100px;
}
#arrowleft {
  padding-left: 350px;
}

/* Movie card */
#movie-card {
  background-color: var(--main);
}
#movie-card h2 {
  color: var(--text);
  font-size: 20px;
  font-family: "Roboto";
  font-weight: bold;
  text-decoration: underline solid #eb5757;
}
#movie-card .m_link {
  color: var(--text);
}
#movie-card input {
  margin-top: 2rem;
}
.category {
  text-align: center;
}

.grid i {
  display: table-cell;
  padding-bottom: 20%;
  font-weight: normal;
  font-size: small;
}
.grid .text-lg {
  font-weight: bold;
  font-family: "Roboto";
  font-size: 14px;
}
.wrapper {
  text-align: center;
}

#loadmore {
  vertical-align: middle;
}
/*  Search bar */
.search {
  width: 100%;
  margin-bottom: 10px;
}
/* .search i {
    position: absolute; 
} */
.fa-search {
  padding-top: 45px;
  color: var(--line);
  min-width: 50px;
  text-align: center;
}
.search input {
  padding: 5px;
  text-align: center;
}
.footer {
  display: grid;
  grid-template-columns: repeat(3, 600px);
  justify-content: end;
}
.top {
  text-align: center;
}

/* -------------------------------------- 
    Detail page styling  */
.d_container {
  position: relative;
  text-align: center;
  white-space: nowrap;
}
.d_caption {
  position: absolute;
  top: 52%;
  left: 15%;
}
.d_caption button {
  margin-top: 5%;
}

.d_container img {
  margin-top: 10%;
  margin: 0 auto;
  width: 90%;
  height: 85%;
}
.d_rating {
  position: absolute;
  left: 150%;
  bottom: 80%;
  font-size: x-large;
  font-family: "Roboto";
  font-weight: bold;
}

.d_rating i {
  display: inline-block;
}
.d_paly-movie {
  padding-right: 100%;
  background-color: var(--line);
  margin-left: 5px;
}

#detail .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3);
  row-gap: 1px;
}

.movie_detail hr {
  width: 30px;
}
.m_detail,
.p_story,
.heros {
  text-decoration: var(--line) underline solid;
  padding-bottom: 3rem;
}
span .categ {
  margin-top: 3em;
}

.trailer img {
  position: relative;
  margin-top: 3rem;
  width: 90%;
  height: 90;
  display: inline-block;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  column-gap: 7px;
  row-gap: 7px;
}
.gallery img {
  transition: 3% ease;
  cursor: pointer;
}

.social li {
  list-style: none;
}
.social h3 {
  text-decoration: var(--line) underline solid;
}
