<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% include  "head.html" %}
</head>

<body>

  <!-- Getting only the poster/movie images  -->

  <h2 class="text-center"> all titles </h2>

  <h2 class="text-center text-2xl py-10"> trending for posters aka images </h2>


  <!-- need to get only 3 or 4 trending movies only  -->

  <div class="relative text-center">
    <div class="search">

      <form action="/fetch" method="POST">
        <input type="text" id="key_search" value="{{ request.form['key_search'] }}" name="key_search"
          class="bg-white rounded-full w-64 focus:outline-none  focus:shadow-outline" placeholder="search">
      </form>

      {% if query_str %}
      <div id="output" class="bg-red-100 rounded w-64 m-auto">
      
        // FIXME : override lenght input to hide  if empty 
      
        {% if query_res|length > 1 %}
        <ul>
          {% for search_res in query_res.results %}
          <li>
            <!-- Href  = movie_id to detail page  -->
            <a href="#" class="block hover:bg-gray-800">
              <img src="https://image.tmdb.org/t/p/w92/{{ search_res['poster_path'] }}" class="w-8" alt="poster">
              <span class="ml-4 pb-4"> {{ search_res['title'] }} </span>
            </a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% else %}
      {% endif %}

    </div>
  </div>


  <!--  jquery cdn -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

  <script>

    // TODO : Move to own file 

    $(document).ready(function () {
      $("#key_search").keyup(function () {
        var text = $(this).val();
        $.ajax({
          url: "/fetch",
          type: "post",
          data: { key_search: text },
          success: function (response) {
            $("#output").html(response);
          },
          error: function (xhr) {
            //Do Something to handle error
          }
        })
      })
    })

  </script>

</body>

</html>