<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test upcoming data from TMDB </title>

      <!-- Tailwind css  -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>

    <!-- Getting only the poster/movie images  -->
    
    <h2 class="text-center"> all titles </h2>

    <h2 class="text-center text-2xl py-10">  titles </h2>
      {% for pop in popular_movies.results %}
      {% endfor %}
      <p class="text-center "> Genres here <br>
        <!-- titles only here  -->
        {% for each_gr in genres.genres %}
          {{ each_gr['id']}}
        {% endfor %}
        
      </p>
 
</body>
</html>